@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(236, 240, 239) !important;
  position: relative;
}

nav {
  text-align: center;
  padding: 15px 30px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ul li {
  margin: 0 2px;
}

nav ul li a {
  color: green !important;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a:active {
  background: black !important;
  transition: 3s;
  color: white !important;
}

nav ul li a:hover {
  background: black !important;
  transition: 3s;
  color: white !important;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 500px;
  display: flex;
  justify-content: start;
}

.nav-active {
  background: black !important;
  transition: 3s;
  color: white !important;
}

.site-logo {
  color: black;
  font-size: 35px;
  padding: 0px 20px;
  font-weight: 800;
  cursor: pointer;
  line-height: 80px;
}

section .headline {
  width: 100%;
}

section .headline p {
  font-size: 20px;
  color: rgb(111, 110, 110);
}

.logo {
  font-size: 20px;
  color: green;
  padding: 0;
}

.logo span {
  color: rgb(8, 8, 8);
}

section .headline a {
  font-size: 30px;
  color: rgb(248, 248, 248);
  background-color: green;
  padding: 0px 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  text-align: center;
  gap: 10px;
}

section .headline a i {
  font-size: 20px;
}

section .headline img {
  height: 400px;
  border-radius: 2px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 4px solid green;
}

.feature {
  background-color: rgb(246, 246, 246) !important;
  color: rgb(42, 40, 40);
  border: none !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature i {
  color: rgb(63, 121, 63);
}

.feature img {
  height: 200px;
}

.feature .feature-header {
  font-size: 25px;
  font-weight: bold;
}

.about-text {
  margin-top: 40px;
  font-size: 20px;
  padding-bottom: 40px;
}

#about {
  height: auto;
}

#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#team .team-header {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid green;
  width: 100px;
}

#team .team-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#team .team-content a {
  color: black;
}

#team .team-content .team-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray;
}

.go-up {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-right: 50px;
  text-decoration: none;
  color: green;
  font-size: 30px;
  cursor: pointer;
}

.site-message {
  width: 90%;
  text-overflow: ellipsis;
  font-size: 15px;
}
